{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="contact-info-page" id="training-data-page">
        <div class="contact-info-page-header" id="page-header">
            <p>> <span>Receipts </span></p>
        </div>
        <div class="personal-info-page-body">
{#            <input type="button" onclick="printDiv()" value="Print" class="no-print">#}
            <div class="container" id="table-container">
                <table class="table table-bordered" id="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount(₦)</th>
                            <th scope="col">Payment Date</th>
{#                            <th scope="col">Breakdown</th>#}
                            <th scope="col">Receipt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for each in payment_details %}
                                <th scope="row">{{ each.name }}</th>
                                <td>{{ each.amount }}</td>
                            {% endfor %}
                            {% for each in invoice_details %}
                                <td>{{ each.payment_date }}</td>
{#                                   <td></td>#}
                                <td><a href="{{ each.invoice.url }}" target="_blank">Click here</a></td>
    {#                                <td style="text-align: center"><a href="https://paystack.com/pay/sbrgvth2sn">DOWNLOAD</a></td>#}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        });
        window.onload = function() {
            document.getElementById('training-data-page').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            document.getElementById('page-header').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            document.getElementById('nav-btn').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            document.getElementById('dashboard-nav-left').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            {#document.getElementById('logout').style.color = '{{  request.user.studentdetail.theme_color }}';#}

        };
        let num;
        jQuery(document).ready(function(){
            function resizeForm(){
                var width = (window.innerWidth > 0) ? window.innerWidth : document.documentElement.clientWidth;
                if(width > 1023){
                    document.getElementById("nav-btn").click(); // Click on the checkbox
                    document.getElementById("invoices").style.backgroundColor = 'grey';
                    num = 0;
                    document.getElementById('nav-btn').onclick = function () {
                        if (num === 0){
                            document.getElementById("training-data-page").style.left = '10px';
                            document.getElementById("training-data-page").style.right = '10px';
                            document.getElementById("training-data-page").style.maxWidth = '100%';
                            num = 1;
                        }
                        else {
                            document.getElementById("training-data-page").style.left = '20%';
                            document.getElementById("training-data-page").style.maxWidth = '79%';
                            num = 0;
                        }
                    }
                } else {
                    document.getElementById("invoices").style.backgroundColor = 'grey';
                }
            }
            window.onresize = resizeForm;
            resizeForm();
        });


        function printDiv() {
            if (num === 0){
                document.getElementById("nav-btn").click();
                num = 1;
            }
            window.print();
    }
    </script>
{% endblock %}