{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="contact-info-page" id="training-data-page">
        <div class="contact-info-page-header" id="page-header">
            <p>> <span>Subjects Taken </span></p>
        </div>
        <div class="personal-info-page-body">
            <input type="button" onclick="printDiv()" value="Print" class="no-print" id="print">
            <div class="container">
                <p>Class: <b>{{ student_details.class }}</b></p>
                <table class="table table-bordered" style="color: white">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Subject</th>
                            <th scope="col">Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in subject_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ each.subject }}</td>
                                {% if teacher_details %}
                                {% for teacher in teacher_details %}
                                    {% if 'JSS' in student_details.class %}
                                        {% if each.subject == teacher.subject_1 and student_details.class in teacher.subject_class_1 %}
                                            {% for each_user in user_details %}
                                                {% if teacher.user_id == each_user.id %}
                                                    <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif each.subject == teacher.subject_2 and student_details.class in teacher.subject_class_2 %}
                                            {% for each_user in user_details %}
                                                {% if teacher.user_id == each_user.id %}
                                                    <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif each.subject == teacher.subject_3 and student_details.class in teacher.subject_class_3 %}
                                            {% for each_user in user_details %}
                                                {% if teacher.user_id == each_user.id %}
                                                    <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif each.subject == teacher.subject_4 and student_details.class in teacher.subject_class_4 %}
                                            {% for each_user in user_details %}
                                                {% if teacher.user_id == each_user.id %}
                                                    <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif each.subject == teacher.subject_5 and student_details.class in teacher.subject_class_5 %}
                                            {% for each_user in user_details %}
                                                {% if teacher.user_id == each_user.id %}
                                                    <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
{#                                            <td>--</td>#}
                                        {% endif %}
                                    {% else %}
                                        {% if each.subject == teacher.subject_1 %}
                                            {% with teacher.subject_class_1.split as skills %}
                                                {% for skill in skills %}
                                                    {% if student_details.class in skill and 'J' not in skill %}
{#                                                        {{ skill }}<br>#}
                                                        {% for each_user in user_details %}
                                                            {% if teacher.user_id == each_user.id %}
                                                                <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% elif each.subject == teacher.subject_2 %}
                                            {% with teacher.subject_class_2.split as skills %}
                                                {% for skill in skills %}
                                                    {% if student_details.class in skill and 'J' not in skill %}
{#                                                        {{ skill }}<br>#}
                                                        {% for each_user in user_details %}
                                                            {% if teacher.user_id == each_user.id %}
                                                                <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% elif each.subject == teacher.subject_3 %}
                                            {% with teacher.subject_class_3.split as skills %}
                                                {% for skill in skills %}
                                                    {% if student_details.class in skill and 'J' not in skill %}
{#                                                        {{ skill }}<br>#}
                                                        {% for each_user in user_details %}
                                                            {% if teacher.user_id == each_user.id %}
                                                                <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% elif each.subject == teacher.subject_4 %}
                                            {% with teacher.subject_class_4.split as skills %}
                                                {% for skill in skills %}
                                                    {% if student_details.class in skill and 'J' not in skill %}
{#                                                        {{ skill }}<br>#}
                                                        {% for each_user in user_details %}
                                                            {% if teacher.user_id == each_user.id %}
                                                                <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% elif each.subject == teacher.subject_5 %}
                                            {% with teacher.subject_class_5.split as skills %}
                                                {% for skill in skills %}
                                                    {% if student_details.class in skill and 'J' not in skill %}
{#                                                        {{ skill }}<br>#}
                                                        {% for each_user in user_details %}
                                                            {% if teacher.user_id == each_user.id %}
                                                                <td>{{ teacher.user }} - {{ each_user.get_full_name.upper }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                    <td>--</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{#                <p>Subjects: </p>#}
{#                <ul style="padding-bottom: 50px;">#}
{#                    {% for each in subject_list %}#}
{#                        <li><span>{{ each.subject }}</span></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            document.getElementById('training-data-page').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            document.getElementById('page-header').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            document.getElementById('nav-btn').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            document.getElementById('dashboard-nav-left').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            {#document.getElementById('logout').style.color = '{{  request.user.studentdetail.theme_color }}';#}
            document.getElementById('print').style.backgroundColor = '{{  request.user.studentdetail.theme_color }}';
            document.getElementById('print').style.borderColor = 'white';
        };
        let num;
        jQuery(document).ready(function(){
            function resizeForm(){
                var width = (window.innerWidth > 0) ? window.innerWidth : document.documentElement.clientWidth;
                if(width > 1023){
                    document.getElementById("nav-btn").click(); // Click on the checkbox
                    document.getElementById("subjects_taken").style.backgroundColor = 'grey';
                    num = 0;
                    document.getElementById('nav-btn').onclick = function () {
                        if (num === 0){
                            document.getElementById("training-data-page").style.left = '10px';
                            document.getElementById("training-data-page").style.right = '10px';
                            document.getElementById("training-data-page").style.maxWidth = '100%';
                            num = 1;
                        }
                        else {
                            document.getElementById("training-data-page").style.left = '20%';
                            document.getElementById("training-data-page").style.maxWidth = '79%';
                            num = 0;
                        }
                    }
                } else {
                    document.getElementById("subjects_taken").style.backgroundColor = 'grey';
                }
            }
            window.onresize = resizeForm;
            resizeForm();
        });

        function printDiv() {
            if (num === 0){
                document.getElementById("nav-btn").click();
            }
            window.print();
    }
    </script>
{% endblock %}