{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'teacher-navbar.html' %}

    <div class="contact-info-page" id="training-data-page">
        <div class="contact-info-page-header" id="page-header">
            <p>> <span>Gradebook: </span></p>
        </div>
        <div class="personal-info-page-body">
            <input type="button" onclick="printDiv()" value="Print" class="no-print" id="print">
            <div style="margin-bottom: 30px">
                <form id="create-schedule-form">
                    {% csrf_token %}
                    <div class="form-group col-md-4">
                        <label for="subject">SUBJECT:</label>
                        <select name="subject" id="subject" class="form-control" onchange="check_subjects()" required>
                            <option value=""></option>
                            {% if user.teacherdetail.subject_1 %}
                                <option value="{{ user.teacherdetail.subject_1 }}">{{ user.teacherdetail.subject_1 }}</option>
                                {% if user.teacherdetail.subject_2 %}
                                    <option value="{{ user.teacherdetail.subject_2 }}">{{ user.teacherdetail.subject_2 }}</option>
                                    {% if user.teacherdetail.subject_3 %}
                                        <option value="{{ user.teacherdetail.subject_3 }}">{{ user.teacherdetail.subject_3 }}</option>
                                        {% if user.teacherdetail.subject_4 %}
                                            <option value="{{ user.teacherdetail.subject_4 }}">{{ user.teacherdetail.subject_4 }}</option>
                                            {% if user.teacherdetail.subject_5 %}
                                                <option value="{{ user.teacherdetail.subject_5 }}">{{ user.teacherdetail.subject_5 }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="class">CLASS:</label>
                        <select name="class" id="class" class="form-control" required>
                        </select>
                    </div>
                    <button type="submit" class="btn" id="create-schedule">List Students</button>
                </form>
                <p style="text-align: center">SUBJECT: {{ student_data.subject }} CLASS: {{ student_data.class }}</p>
                <div class="container" id="table-container">
                <table class="table table-bordered" id="table" >
                    <thead>
                        <tr>
                            <th scope="col">Student</th>
                            <th scope="col">Midterm</th>
                            <th scope="col">Exam</th>
                            <th scope="col">Grade</th>
{#                            <th scope="col">Subject</th>#}
{#                            <th scope="col">Day</th>#}
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in grade_book %}
                            <tr>
                                {% for student in user_details %}
                                    {% if each.student_code_id == student.id %}
{#                                        <option value="{{ each.student_code_id }}">{{ student.last_name }} {{ student.first_name }}</option>#}
                                        <th scope="row">{{ student.last_name }} {{ student.first_name }}</th>
                                    {% endif %}
                                {% endfor %}
{#                                <th scope="row">{{ each.student_code }}</th>#}
                                <td>{{ each.midterm_test }}</td>
                                <td>{{ each.exam_result }}</td>
                                <td>{{ each.grade }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        });
        window.onload = function() {
            document.getElementById('training-data-page').style.backgroundColor = '{{  request.user.teacherdetail.theme_color }}';
            document.getElementById('page-header').style.backgroundColor = '{{  request.user.teacherdetail.theme_color }}';
            document.getElementById('nav-btn').style.backgroundColor = '{{  request.user.teacherdetail.theme_color }}';
            document.getElementById('dashboard-nav-left').style.backgroundColor = '{{  request.user.teacherdetail.theme_color }}';
            {#document.getElementById('logout').style.color = '{{  request.user.teacherdetail.theme_color }}';#}
            document.getElementById('print').style.backgroundColor = '{{  request.user.teacherdetail.theme_color }}';
            document.getElementById('print').style.borderColor = 'white';
        };
        let num;
        jQuery(document).ready(function(){
            function resizeForm(){
                var width = (window.innerWidth > 0) ? window.innerWidth : document.documentElement.clientWidth;
                if(width > 1023){
                    document.getElementById("nav-btn").click(); // Click on the checkbox
                    document.getElementById("gradebook").style.backgroundColor = 'grey';
                    num = 0;
                    document.getElementById('nav-btn').onclick = function () {
                        if (num === 0){
                            document.getElementById("training-data-page").style.left = '10px';
                            document.getElementById("training-data-page").style.right = '10px';
                            document.getElementById("training-data-page").style.maxWidth = '100%';
                            num = 1;
                        }
                        else {
                            document.getElementById("training-data-page").style.left = '20%';
                            document.getElementById("training-data-page").style.maxWidth = '79%';
                            num = 0;
                        }
                    }
                } else {
                    document.getElementById("gradebook").style.backgroundColor = 'grey';
                }
            }
            window.onresize = resizeForm;
            resizeForm();
        });

        function printDiv() {
            if (num === 0){
                document.getElementById("nav-btn").click();
            }
            window.print();
        }
        function clear_classes() {
            const select = document.getElementById("class");
            const length = select.options.length;
            for (let i = length-1; i >= 0; i--) {
                select.options[i] = null;
            }
        }
        function check_subjects() {
            let option;
            let x;
            let i;
            let classes;
            const j = document.getElementById("subject");
            const selectedValue = j.options[j.selectedIndex].value;
            if (selectedValue === "{{ user.teacherdetail.subject_1 }}") {
                clear_classes();
                classes = '{{ user.teacherdetail.subject_class_1 }}';
                classes = classes.split(',');
                {#alert(classes[0]);#}
                if (classes.length > 0){
                    for (i = 0; i < classes.length; i++) {
                        x = document.getElementById("class");
                        option = document.createElement("option");
                        option.value = classes[i];
                        option.text = classes[i];
                        x.add(option);
                    }
                }
            }
            else if (selectedValue === "{{ user.teacherdetail.subject_2 }}") {
                clear_classes();
                classes = '{{ user.teacherdetail.subject_class_2 }}';
                classes = classes.split(',');
                if (classes.length > 0){
                    for (i = 0; i < classes.length; i++) {
                        x = document.getElementById("class");
                        option = document.createElement("option");
                        option.value = classes[i];
                        option.text = classes[i];
                        x.add(option);
                    }
                }
            }
            else if (selectedValue === "{{ user.teacherdetail.subject_3 }}") {
                clear_classes();
                classes = '{{ user.teacherdetail.subject_class_3 }}';
                classes = classes.split(',');
                if (classes.length > 0){
                    for (i = 0; i < classes.length; i++) {
                        x = document.getElementById("class");
                        option = document.createElement("option");
                        option.value = classes[i];
                        option.text = classes[i];
                        x.add(option);
                    }
                }
            }
            else if (selectedValue === "{{ user.teacherdetail.subject_4 }}") {
                clear_classes();
                classes = '{{ user.teacherdetail.subject_class_4 }}';
                classes = classes.split(',');
                if (classes.length > 0){
                    for (i = 0; i < classes.length; i++) {
                        x = document.getElementById("class");
                        option = document.createElement("option");
                        option.value = classes[i];
                        option.text = classes[i];
                        x.add(option);
                    }
                }
            }
            else if (selectedValue === "{{ user.teacherdetail.subject_5 }}") {
                clear_classes();
                classes = '{{ user.teacherdetail.subject_class_5 }}';
                classes = classes.split(',');
                if (classes.length > 0){
                    for (i = 0; i < classes.length; i++) {
                        x = document.getElementById("class");
                        option = document.createElement("option");
                        option.value = classes[i];
                        option.text = classes[i];
                        x.add(option);
                    }
                }
            }
            else {
                clear_classes();
            }
        }
    </script>
{% endblock %}