{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'admin_navbar.html' %}

    <div class="personal-info-page" id="training-data-page">
        <div class="personal-info-page-header" id="page-header">
            <p>> <span>Modify Payment</span></p>
        </div>
        <div class="personal-info-page-body">
            <div class="container" style="padding-bottom: 50px">
                <div id="add-new-teacher-form-step-1">
                    <form method="GET">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="school">School</label>
                                <select class="form-control" id="school" name="school" required onchange="showPaymentCodes()">
                                    <option selected></option>
                                    {% for each in list_of_schools %}
                                        {% if request.session.list_school == each.school_code %}
                                            <option value="{{ each.school_code }}" selected>{{ each.school_name }}</option>
                                        {% else %}
                                            <option value="{{ each.school_code }}">{{ each.school_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="payment_codes">Payment Code</label>
                                <select class="form-control" id="payment_codes" name="payment_codes"></select>
                            </div>
                        </div>
                        <div style="text-align: center">
                            <button type="submit" class="btn" name="get-payments">Get Payments</button>
                        </div>
                    </form>
                </div>
                {% if request.session.success %}
                    <div id="modify-successful" style="margin-top: 10px">
                        <div id="first-chek">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                            </svg><h3>Update Successful</h3>
                        </div>
                    </div>
                {% endif %}
                {% if request.session.payment_details %}
                <div class="container" id="modify-class-schedule-details">
                    <form method="GET">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="school_2">School</label>
                                <select class="form-control" id="school_2" name="school_2" readonly>
                                    {% for each in list_of_schools %}
                                        {% if each.school_code == request.session.modify_payment_school %}
                                            <option value="{{ each.school_code }}">{{ each.school_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="payment_code_1">Payment Code</label>
                                <input class="form-control" id="payment_code_1" name="payment_code_1" {% for each in payment_details %} value="{{ each.payment_code }}"{% endfor %} readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="amount">Amount</label>
                                <input type="text" class="form-control" id="amount" name="amount" {% for each in payment_details %} value="{{ each.amount }}"{% endfor %} required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="deadline">Deadline</label>
                                <input type="date" class="form-control" id="deadline" name="deadline" {% for each in payment_details %} value="{{ each.deadline | date:"Y-m-d" }}" {% endfor %} required>
                            </div>
                        </div>
                        <div style="text-align: center">
                            <button type="submit" class="btn" name="update_payment">Update Payment</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            document.getElementById('training-data-page').style.backgroundColor = '{{  request.user.admindetail.theme_color }}';
            document.getElementById('page-header').style.backgroundColor = '{{  request.user.admindetail.theme_color }}';
            document.getElementById('nav-btn').style.backgroundColor = '{{  request.user.admindetail.theme_color }}';
            document.getElementById('dashboard-nav-left').style.backgroundColor = '{{  request.user.admindetail.theme_color }}';
            {#document.getElementById('logout').style.color = '{{  request.user.admindetail.theme_color }}';#}
        };
        let num;
        jQuery(document).ready(function(){
            function resizeForm(){
                var width = (window.innerWidth > 0) ? window.innerWidth : document.documentElement.clientWidth;
                if(width > 1023){
                    document.getElementById("nav-btn").click(); // Click on the checkbox
                    document.getElementById("modify-payment").style.backgroundColor = 'grey';
                    num = 0;
                    document.getElementById('nav-btn').onclick = function () {
                        if (num === 0){
                            document.getElementById("training-data-page").style.left = '10px';
                            document.getElementById("training-data-page").style.right = '10px';
                            document.getElementById("training-data-page").style.maxWidth = '100%';
                            num = 1;
                        }
                        else {
                            document.getElementById("training-data-page").style.left = '20%';
                            document.getElementById("training-data-page").style.maxWidth = '79%';
                            num = 0;
                        }
                    }
                } else {
                    document.getElementById("modify-payment").style.backgroundColor = 'grey';
                }
            }
            window.onresize = resizeForm;
            resizeForm();
        });

        function clear_payment_codes() {
            const select = document.getElementById("payment_codes");
            const length = select.options.length;
            for (let i = length-1; i >= 0; i--) {
                select.options[i] = null;
            }
        }
        function showPaymentCodes(){
            clear_payment_codes();
            let option;
            let x;
            const j = document.getElementById("school");
            const selectedValue = j.options[j.selectedIndex].value;
            {% for each in payment_codes %}
                if (selectedValue === "{{ each.school_code_id }}"){
                    x = document.getElementById("payment_codes");
                    option = document.createElement("option");
                    option.value = "{{ each.payment_code }}";
                    option.text = "{{ each.payment_code }}";
                    x.add(option);
                }
            {% endfor %}
        }
    </script>
{% endblock %}